.button{
  background-color: black;
 
}
.footer{
  text-align: center;
  font-weight: 100;
  background-color: gainsboro;
}
.button-2{
  padding: 10px 40px;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 20px;
  
  background-color: #384054;
  color: white;
  border: none;
border-radius: 5px;  
}
.button-2:hover{
  background-color: #4e6682;
}
.icon{
  font-size: 20px;
}